{% extends "base.html" %}

{% block title %}Gestión del sistema{% endblock %}

{% block content %}
<div class="container py-5">
  <h2 class="mb-5 text-center fw-bold">Panel de gestión del hotel</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">

    <div class="col">
      <a href="{% url 'hotel:registrar_cliente' %}" class="btn btn-outline-primary w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Registrar Usuario
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:lista_clientes' %}" class="btn btn-outline-dark w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Ver Usuarios Registrados
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:registrar_habitacion' %}" class="btn btn-outline-success w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Registrar Habitación
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:registrar_reserva' %}" class="btn btn-outline-warning w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Registrar Reserva
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:registrar_pago' %}" class="btn btn-outline-info w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Registrar Pago
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:listar_reservas' %}" class="btn btn-outline-primary w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Ver Reservas
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:lista_habitaciones' %}" class="btn btn-outline-dark w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Gestionar Habitaciones
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:exportar_json' %}" class="btn btn-outline-secondary w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Exportar Paquete JSON
      </a>
    </div>

    <div class="col">
      <a href="{% url 'hotel:importar_json' %}" class="btn btn-outline-secondary w-100 p-4 shadow rounded-3 text-center fw-semibold">
        Importar Paquete JSON
      </a>
    </div>

  </div>
</div>
{% endblock %}
