{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block title %}Hotel Ruby – Admin{% endblock %}

{% block branding %}
  <h1 id="site-name" class="d-flex align-items-center gap-2">
    <a href="{% url 'hotel:listado_habitaciones' %}" class="d-flex align-items-center text-decoration-none text-white">
      <img src="{% static 'img/logo.png' %}" alt="Logo Hotel Ruby" style="height: 32px; margin-right: 8px;">
      Hotel Ruby
    </a>
  </h1>
{% endblock %}
